/* main text color #212121 */
/*secondary text color #757575 */
/* contrast-color white #ffffff */
/*main logo color #2196f3 */

/* ---- COMPONENTS ---- */
:root {
  --main-font: "Roboto", Sans-Serif;
  --secondary-font: "Raleway", Sans-Serif;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --contrast-color: #ffffff;
  --section-pt: 94px; /* padding-top for  section;*/
  --section-pb: 94px; /* padding-bottom for  section;*/
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-btn {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--contrast-color);
  background-color: var(--accent-color);

  padding: 10px 32px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  margin-bottom: 50px;
}

.logo-light-theme {
  color: #000000;
  font-family: "Raleway", Sans-Serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 93px;
}

.logo-accent-color {
  color: var(--accent-color);
}

.logo-dark-theme {
  color: var(--contrast-color);
  font-family: "Raleway", Sans-Serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
}
/* ---- END COMPONENTS ---- */

/* ---- HEADER ---- */
.navigation {
  display: flex;
  align-items: center;
}

.main-header {
  border-bottom: 1px solid #ececec;
}

.main-header .container {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.navigation-list-item {
  padding-top: 32px;
  padding-bottom: 32px;
  /* margin-right: 50px; НИЖЧЕ!!! */
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.navigation-list-link.current {
  color: var(--accent-color);
}

.contacts-list-link {
  font-weight: 500;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: var(--accent-color);
}

.contacts-list-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-list-item:not(:last-child) {
  margin-right: 50px;
}

/* ---- END HEADER ---- */

/* ---- HERO ---- */

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--contrast-color);

  margin-bottom: 30px;
}

/* ---- END HERO ---- */

/* ---- ADVANTAGES ---- */
.advantages-list-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);

  margin-bottom: 9px;
}

.advantages-list-item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.advantages {
  padding-top: var(--section-pt);
  padding-bottom: 0;
}
.advantages-list {
  display: flex;
}

.advantages-list-item {
  width: calc((100%-90px) / 4);
}

.advantages-list-item:not(:last-child) {
  margin-right: 30px;
}

/* ---- END ADVANTAGES ---- */

/* ---- ABOUT ---- */

.services {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.services-list {
  display: flex;
  justify-content: space-between;
}

/* ---- END ABOUT ---- */

/* ---- TEAM ---- */
.team {
  background-color: #f5f4fa;
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);

  margin-bottom: 10px;
}

.team-list-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  margin-bottom: 30px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-list-item img {
  margin-bottom: 30px;
}
/* ---- END TEAM ---- */

/* ---- CONTACTS ---- */
footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-link-first {
  color: var(--contrast-color);
}

a.logo-dark-theme {
  display: block;
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}
/* ---- END CONTACTS ---- */

/* ---- PORTFOLIO WEB PAGE ---- */

/* ---- FILTER ---- */
.filter-list-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #f5f4fa;
}

.filter-list-btn:hover,
.filter-list-btn:focus {
  color: var(--contrast-color);
  background-color: var(--accent-color);
}

.filter-list-btn {
  padding: 6px 22px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}
/* ---- END FILTER ---- */

/* ---- GALLERY ---- */
.portfolio-list-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio-list-subtitle + p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-list-subtitle {
  margin-top: 20px;
  margin-bottom: 4px;
}

/* ---- END GALLERY ---- */
